<a class="back" href="/">Voltar</a> 
<form action="/register/book/insertbook" method="POST" class="form">
    <h1>Cadastre seu livro</h1>

    <div class="form-control">
        <label for="book_name">Nome do Livro:</label>
        <input type="text" name="book_name" placeholder="Informe o nome do livro ">
    </div>

    <div class="form-control">
        <label for="author">Nome do Autor:</label>
        <input type="text" name="author" placeholder="Informe o nome do autor ">
    </div>

    <div class="form-control">
        <label for="total_pages">Número de páginas:</label>
        <input type="number" name="total_pages" placeholder="Informe o nº de páginas">
    </div>

    <input type="submit" id="submit" value="Cadastrar">
</form>